@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using TopMovie.CinemaManager.Web.Resources
@model IEnumerable<TopMovie.CinemaManager.Core.Features.Screenings.Models.Screening>
@inject IStringLocalizer<SharedResource> localizer

@{
    ViewData["Title"] = "Program";
}

<h1>@localizer["Program"]</h1>
@using (Html.BeginForm("Program", "Screenings", FormMethod.Get))
{
<div class="container">
    @using (Html.BeginForm("Program", "Screenings", FormMethod.Get, new { @class = "form-inline mb-4" }))
    {
        <div class="form-group mr-2">
            <label for="cinemaId" class="mr-2">Kino auswählen:</label>
            <select id="cinemaId" name="cinemaId" class="form-control">
                <option value="0">Alle Kinos</option>
                @foreach (var cinema in ViewBag.Cinemas)
                {
	                if (ViewBag.SelectedCinemaId == cinema.Id)
	                {
		                <option value="@cinema.Id" selected="selected">@cinema.Name</option>
	                }
	                else
	                {
		                <option value="@cinema.Id">@cinema.Name</option>
	                }
                }
            </select>
        </div>
        <div class="form-group mr-2">
            <label for="movieId" class="mr-2">Film auswählen:</label>
            <select id="movieId" name="movieId" class="form-control">
                <option value="0">Alle Filme</option>
                @foreach (var movie in ViewBag.Movies)
                {
	                if (ViewBag.SelectedMovieId == movie.MovieId)
	                {
		                <option value="@movie.MovieId" selected="selected">@movie.Title</option>
	                }
	                else
	                {
		                <option value="@movie.MovieId">@movie.Title</option>
	                }
                }
            </select>
        </div>
        <div class="form-group mr-2">
            <input class="form-check-input" type="radio" name="viewOption" id="dayView" value="day" @(ViewBag.SelectedViewOption == "day" ? "checked" : "")>
            <label class="form-check-label mr-4" for="dayView">Tagesansicht</label>

            <input class="form-check-input" type="radio" name="viewOption" id="weekView" value="week" @(ViewBag.SelectedViewOption == "week" ? "checked" : "")>
            <label class="form-check-label mr-2" for="weekView">Wochenansicht</label>
        </div>
        <div class="form-group mr-2">
            <label for="screeningDate" class="mr-2">Datum wählen:</label>
            <input type="date" id="screeningDate" name="screeningDate" class="form-control" value="@ViewBag.SelectedDate" />
        </div>
    }
</div>

<div class="container">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Zeit</th>
			<th>Kino</th>
			<th>Film</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var screening in Model)
		{
			<tr>
				<td>@screening.StartTime.ToString("dd.MM.yyyy HH:mm")</td>
				<td>@screening.CinemaHall.Name</td>
				<td>@screening.Movie.Title</td>
				<td>
					<a href="@Url.Action("Create", "Reservations", new { screeningId = screening.ScreeningId })" class="btn btn-primary btn-sm">Sitzplatz Reservieren</a>
				</td>
			</tr>
		}
		</tbody>
	</table>

</div>

}
@section Scripts {
	<script>
        $(document).ready(function() {
			$('#cinemaId, #movieId, input[name="viewOption"]').change(function () {
				$(this).closest('form').submit();
			});
			
            function toggleDatePicker() {
                if ($('#dayView').is(':checked')) {
                    $('#screeningDate').closest('.form-group').show();
                } else {
                    $('#screeningDate').closest('.form-group').hide();
                }
            }

            // Initialer Aufruf, um den korrekten Zustand beim Laden der Seite sicherzustellen
            toggleDatePicker();

            // Aufrufen der Funktion beim Ändern der Ansichtsoption
            $('input[name="viewOption"]').change(function() {
                toggleDatePicker();
            });

			// Datum auswählen
			$('#screeningDate').change(function () {
				// Formular einreichen, wenn das Datum im Datepicker geändert wird
				$(this).closest('form').submit();
			});

        });
    </script>
}

